body {
    margin: 10px;
    padding: 10px;
    background-color: orange;
  }
  .jumbotron {
    text-align: center;
    color: white;
    margin: 30px;
    background-color: orange;
    background-image: url(https://media1.tenor.com/images/9ae606e924dc6e7c9b6de9475a4b635f/tenor.gif?itemid=4713534);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 20px 0px 70px 30px;
  }
  
  h1 {
    font-size: 40px;
    padding-top: 15%;
    text-transform: uppercase;
  }
  .main {
    margin: 30px;
    padding: 100px 30px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
  }
  
  .face {
    float: left;
    margin-left: 150px;
    margin-right: 100px;
  }
  
  .search {
    float: right;
    margin-right: 150px;
  }
  
  img {
    margin-bottom: 20px;
    border: 2px solid black;
  }
  
  button {
    background: rgb(0, 0, 0, 000.2);
    border-radius: 10%;
    margin: 0px 50px 50px 50px;
    color: black;
    padding: 20px 70px;
    font-size: 15px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .search button {
    margin-left: 50px;
  }
  
  button:hover {
    background-color: gray;
  }
  
  #scan {
    width: 300px;
    margin: 20px 500px 20px 500px;
  }
  
  #detect {
    margin: auto auto;
    height: 80px;
    cursor: pointer;
  }
  
  .movie {
    margin-left: 515px;
  }
  
  .bl {
    display: inline-block;
    margin-left: 515px;
  }
  
  .sci,
  .action,
  .comedy,
  .drama,
  .adventure,
  .animation,
  .crime,
  .family,
  .fantasy,
  .horror,
  .mystery,
  .romance,
  .thriller,
  .war {
    overflow-y: scroll auto;
    overflow-x: hidden;
    display: inline-block;
    height: 380px;
    width: 200px;
    margin: 0% 4%;
  }
  
  canvas {
    position: absolute;
  }
  
  .emotion {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: centre;
    align-items: centre;
  }
  
  video {
    background-repeat: no-repeat;
    border: solid black 1px;
    background-size: 720px 560px;
  }